<div style="padding: 10px">
    <marquee>** Note : This application is developed as a study Assignemnt**</marquee>
</div>
<body>
    <h1 style="text-align: center"><u>Angular assignemnt - GitHubUserDetails</u></h1>
    <div class="container" style="margin-top: 30px;">
        <h3>Implementation Details</h3>
        <ul>
          <li>Implement functionality to list GitHubUsers. User list is fetched using github API</li>
          <li>Visually appealing and user freindly display</li>
          <li>On initial loading of application default result is displayed using API</li>
          <li>Implemented a feature to provide Search functionality based on login name (Can also be done on user name).</li>
          <li>Implemented Sorting feature (Based on name & rank).</li>
          <li>Implemented logic on details button to show users all repositories & their associated language</li>
          <li>Implemented services to fetch details using github API</li>
          <li>Implemented logic to provide masking of screen while API interaction</li>
          <li>Implemented simple routing feature, this page is by default landing page</li>
          <li>Implemented Pagination.</li>
        </ul>
        <br>
        <p>Now as you know the details, feel free to use the application. Just switch the tabs in navigation bar.!!</p>
     </div>
</body>
