<div style="padding: 10px">
    <marquee>** Note : This application is developed as a study Assignment**</marquee>
</div>
<body>
    <h1 style="text-align: center"><u>Contact Book Application</u></h1>
    <div class="container" style="margin-top: 30px;">
        <h3>Implementation Details</h3>
        <ul>
          <li>Implemented functionality to create a Contact Book.</li>
          <li>Visually appealing and user freindly display</li>
          <li>On initial loading of application default contact details are displayed.</li>
          <li>Implemented a feature to Add new user's with contact details.</li>
          <li>Implemented a feature to Edit existing user's contact details.</li>
          <li>Implemented a feature to Delete user's contact details.</li>
          <li>Implemented slider button to make user's staus Active/Inactive</li>
          <li>Implemented basic form validation on each field.</li>
          <li>Implemented logic to check for duplicate entries based on phone number</li>
        </ul>
        <br>
        <p>Now as you know the details, feel free to use the application. Just switch the tabs in navigation bar.!!</p>
     </div>
</body>