<h1 style="text-align: center" mat-dialog-title>{{title}}</h1>

<form class="form-container" name="contactForm" [formGroup]="contactForm">
    <mat-form-field [hidden]=true>
        <input matInput #id placeholder="ID" [formControl]="idControl" >
    </mat-form-field>
    <mat-form-field>
        <input matInput #firstName placeholder="First Name" required [formControl]="firstNameControl">
        <mat-error *ngIf="firstNameControl.invalid">{{getRequiredErrorMessage('firstName')}}</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput #lastName placeholder="Last Name" required [formControl]="lastNameControl">
        <mat-error *ngIf="lastNameControl.invalid">{{getRequiredErrorMessage('lastName')}}</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput #phoneNumber placeholder="Number" required [formControl]="phoneNumberControl">
        <mat-error *ngIf="phoneNumberControl.invalid">{{getPhoneErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput #email placeholder="Email"  required [formControl]="emailControl">
        <mat-error *ngIf="emailControl.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>
    
    <mat-slide-toggle [formControl]="statusControl" style="margin-top: 10px" #status color='primary'>Status</mat-slide-toggle>

    <button style="margin-top: 10px;" [disabled]="contactForm.status !== 'VALID'" mat-raised-button class="submit-button" mat-dialog-close cdkFocusInitial (click)="popUp.close({
        id: id.value,
        firstName: firstName.value,
        lastName: lastName.value,
        phoneNumber : phoneNumber.value,
        email : email.value,
        status : status.checked
      })" id="saveButton">Save</button>
    <button style="margin-top: 10px;" mat-raised-button mat-dialog-close>Cancel</button>
</form>