<mat-nav-list>
    <div class="container">
      <div style="text-align: right">
        <button style="background-color: darkgray" mat-raised-button (click)="open()" matTooltip="Add Contact" matTooltipPosition="below"> 
          <mat-icon aria-label="Add">add</mat-icon>
          <strong>Add new Contact</strong>
        </button>
      </div>
      <br>
      <table class="table">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Id</th>
            <th>Phone Number</th>
            <th>Status</th>
            <th>Delete</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let details of contacts">
            <td>{{details.firstName}}</td>
            <td>{{details.lastName}}</td>
            <td>{{details.email}}</td>
            <td>{{details.phoneNumber}}</td>
            <td>{{details.status == true ? 'Active' : 'Inactive'}}</td>
              <td>
                  <button mat-icon-button (click)="confirm(details)" matTooltip="Delete Contact" matTooltipPosition="right">
                  <mat-icon aria-label="Delete">delete</mat-icon>
                  </button>
                </td>
                <td>
                    <button mat-icon-button (click)="edit(details)" matTooltip="Edit Contact Details" matTooltipPosition="right">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                    </button>
                </td>
            </tr>
          </tbody>
      </table>
    </div>  
</mat-nav-list>