<div class="container">
    <div class="row">
        <nav class="navbar navbar-expand-md navbar-dark topBar">
            <div>
                <!--Added 2 textbox to mark space as placeholder-->
                <input type="text" placeholder="Add dropdown">
                <input type="text" placeholder="Search" (keyup)="onSearch($event)">
            </div>
        </nav>
        <!--Added to show total count of records from reponse fetched using api-->
        <div *ngIf="userDetails" style="padding-top: 10px;">
            <label>TotalCount : </label>
            <span>{{userDetails.total_count}}</span>
        </div>
        <!--Using table to show the data split in 3 columns for Avtar,Info & Details-->
        <!--Applied ngIf so that table will exist only if data is present-->
        <table *ngIf="userDetails" class="table table-bordered table-sm">
            <tbody style="width: 80%">
                <!--Using ngFor to itreate over data items and create row for each-->
                <tr *ngFor="let users of userDetails.items; let i = index" >
                    <td style="display:none">{{i}}</td>
                    <td class="firstColumn"><img class="avatar" src="{{users.avatar_url}}"></td>
                    <td class="secondColumn">
                        <div>
                            <h1 *ngIf="users.fullName">{{users.fullName.name}}</h1>
                            <label>Profile URL :</label>
                            <span><a href="{{users.html_url}}" target="_blank"> {{users.html_url}}</a></span>
                            <div>
                                <label>User Id :</label>
                                <span> {{users.login}}</span>
                            </div>
                            <div>
                                <label>Rank :</label>
                                <span> {{users.score}}</span>
                            </div>
                            <div id="dummy_{{i}}"  style="display: none">
                                <div>
                                    <label>Dummy : </label>
                                    <span>Dummy</span>
                                </div>
                                <div>
                                    <label>Dummy : </label>
                                    <span>Dummy</span>
                                </div>
                                <div>
                                    <label>Dummy : </label>
                                    <span>Dummy</span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="thirdColumn">
                        <button class="btnDetails" id="details_{{i}}" (click)="onShow(i)">Details</button>
                        <button class="btnCollapse" id="collapse_{{i}}" (click)="onCollapse(i)">Collapse</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
