<div class="container">
    <div class="row">
        <nav class="navbar navbar-expand-md navbar-dark topBar">
            <div>
                <!--Added 2 textbox to mark space as placeholder-->
                <select class="dropdown-toggle" class="sortDropdown" (change)="onSelect()">
                    <option value="" disabled>Sort By</option>
                    <option> [A-Z] </option>
                    <option> [Z-A] </option>
                    <option> By Rank - Ascending </option>
                    <option> By Rank - Descending </option>
                </select>               
                <input type="text" placeholder="Search" (keyup)="onSearch($event)" class ="searchBox">
            </div>
        </nav>
        <!--Added to show total count of records from reponse fetched using api-->
        <div *ngIf="userDetails" style="padding-top: 10px;">
            <label>TotalCount : </label>
            <span> {{userDetails.items.length}}</span>
        </div>
        <!--Using table to show the data split in 3 columns for Avtar,Info & Details-->
        <!--Applied ngIf so that table will exist only if data is present-->
        <table *ngIf="userDetails" class="table table-bordered table-sm">
            <tbody style="width: 80%">
                <!--Using ngFor to itreate over data items and create row for each-->
                <tr *ngFor="let users of userDetails.items | paginate: { itemsPerPage: 3, currentPage: p }; let i = index" >
                    <td style="display:none">{{i}}</td>
                    <td class="firstColumn"><img class="avatar" src="{{users.avatar_url}}"></td>
                    <td class="secondColumn">
                        <div>
                            <h1 *ngIf="users.fullName">{{users.fullName.name}}</h1>
                            <label>Profile URL :</label>
                            <span><a href="{{users.html_url}}" target="_blank"> {{users.html_url}}</a></span>
                            <div style="padding-top: 2%;">
                                <label>User Id :</label>
                                <span> {{users.login}}</span>
                            </div>
                            <div>
                                <label>Rank :</label>
                                <span> {{users.score}}</span>
                            </div>
                            <div id="dummy_{{i}}"  style="display: none">
                                <!-- <div  id="dummy_{{i}}"> -->
                                    <ng-container *ngIf="repoDetails">
                                        <br><br>
                                        <div *ngFor="let data of repoDetails;" class="data">
                                            <label>{{data.html_url}} : </label>
                                            <span style="float: right;">{{data.language}}</span>
                                        </div>
                                    </ng-container>   
                                <!-- </div> -->
                            </div>
                        </div>
                    </td>
                    <td class="thirdColumn">
                        <button class="btnDetails" id="details_{{i}}" (click)="onShow(i,users.login)">Details</button>
                        <button class="btnCollapse" id="collapse_{{i}}" (click)="onCollapse(i)">Collapse</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="margin-left: 60%">
            <pagination-controls (pageChange)="p = $event"  previousLabel="" nextLabel=""></pagination-controls>
        </div>       
    </div>
</div>
